// Workflow    : Identificación de variantes somáticas
// Important   : Pipeline para muestras emparejadas (normal-tumor)
// Institution : Instituto Nacional de Medicina Genómica (INMEGEN)
// Maintainer  : Subdirección de genómica poblacional y subdirección de bioinformática
// Versión     : 0.1
// Docker image - pipelinesinmegen/pipelines_inmegen -

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/out/dir"

// Ruta de los archivos con la información de los datos crudos
params.sample_info="./sample_info.tsv"
params.project_name = "Nombre del proyecto"

// Parametros y rutas para el alineamiento incluyendo la lista de intervalos  
params.refdir='/path/to/reference/dir'
params.refname="reference_file.fasta"
params.interval_list="/path/to/interval_list/file/file.interval_list"
params.onlygnomad="af-only-gnomad.hg38.vcf.gz"
params.panel_normales="/path/to/panel/of/normals/dir/PON.vcf.gz"
params.panel_normales_idx="/path/to/panel/of/normals/dir/PON.vcf.gz.tbi"
params.common_biallelic="/path/to/somatic_common_.vcf.gz"
params.common_biallelic_idx="/path/to/somatic_common_.vcf.gz.tbi"
params.ncrs=4

// Directorios adicionales (NO EDITAR)
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'
workDir = params.outdir + '/nextflow_work_dir'

// Condiciones a ejecutar, toma en cuenta las condiciones de tu servidor o cluster para modificar los parámetros 
// "--cpus" Número máximo de núcleos asignados a cada proceso
// "queueSize" Número máximo de procesos ejecutados de manera simultánea
// Nota: por default el flujo de trabajo está limitado a 40 cores (--cpus * queueSize) 

docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 4"
    fixOwnership = true
}


executor {
  name = 'local'
  queueSize = 10
}
