// Parámetros necesarios para correr el flujo de trabajo Indentificació conjunta de variantes utilizando bootstrapping

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/out/dir/dir_name"

// Ruta de los archivos con la información de los datos crudos
params.sample_sheet="./sample_info.tsv"
params.reads = "/path/to/fastq/reads/*_R{1,2}_*.fastq.gz"
params.project_name = "Nombre del proyecto"
params.multiple_samples = true

// Parametros y rutas para el alineamiento incluyendo la lista de intervalos  
params.ref = "/path/to/reference/dir/ref.fasta"
params.refdir='//path/to/reference/dir'
params.refname="ref.fasta"
params.interval_list="path/to/reference/dir/file.interval_list"
params.intervalname="file.interval_list"
params.pl = "illumina"
params.pm = "nextseq"
params.ncrs=6

// Parámetros para genomics db, interval = true only for WES
params.interval=false
params.batchsize=2
params.GI_cores=6

// Directorios adicionales
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'

// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Habilitar Docker container
docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 6"
}

executor {
  name = 'local'
  queueSize = 12
}
