// Workflow    : Identificación conjunta de variantes germinales
// Institution : Instituto Nacional de Medicina Genómica (INMEGEN)
// Maintainer  : Subdirección de genómica poblacional y subdirección de bioinformática
// Versión     : 0.1

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/nextflow/results/dir"

// Parámetros con la información y el tipo de datos crudos
params.sample_info="/path/to/sample_info.tsv"
params.project_name = "Prueba_1"
params.multiple_lanes = true
params.wes = true

// Parametros y rutas para el alineamiento y las métricas (incluyendo la lista de intervalos)  
params.refdir='/path/to/reference/dir/v0'
params.refname="name_ref_file.fasta"
params.interval_list="/path/to/wgs.interval_list"
params.intervalname="interval_list_file"
params.bed_file="/path/to/wes_assay.bed"
params.bed_filew="/path/to/wes_assay_window100bp.BED"
params.adapters="/path/to/adapters.fa"
params.ncrs=4

// Parámetros para genomics db
params.batchsize=4

// Directorios adicionales (NO EDITAR)
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'
workDir = params.outdir + '/nextflow_work_dir'

// Condiciones a ejecutar, toma en cuenta las condiciones de tu servidor o cluster para modificar los parámetros
// "--cpus" Número máximo de núcleos asignados a cada proceso
// "queueSize" Número máximo de procesos ejecutados de manera simultánea
// Nota: por default el flujo de trabajo está limitado a 40 cores (--cpus * queueSize)

docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 4"
    fixOwnership = true
}

executor {
  name = 'local'
  queueSize = 10
}
