// Parámetros necesarios para correr el flujo de trabajo Indentificació conjunta de variantes con GATK4
// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/nextflow/results/dir"

// Ruta de los archivos con la información de los datos crudos
params.sample_sheet="/path/to/sample_info.tsv"
params.reads = "/path/to/reads/*_R{1,2}_*.fastq.gz"
params.project_name = "Prueba_docker"
params.multiple_samples = true // En caso de que una muestra tenga varios lanes en caso contrario cambiar a false

// Parametros y rutas para el alineamiento incluyendo la lista de intervalos  
params.ref = "/path/to/ref/name_ref_file.fasta"
params.refdir='/path/to/reference/dir/v0'
params.refname="name_ref_file.fasta"
params.interval_list="/path/to/wgs.interval_list"
params.intervalname="interval_list_file"
params.pl = "illumina"
params.pm = "nextseq"
params.ncrs=6

// Parámetros para genomics db
params.interval=false  // En caso de WES cambiar a true
params.batchsize=2
params.GI_cores=6

// directorios de la base de datos de annovar
params.annovar= "/path/to/annovar/dir"

// Directorios adicionales
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'

// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Habilitar Docker container
// Verificar no exceder el número máximo de cores 
// El número máximo de cores que puede utilizar en simultaneo el flujo de trabajo se calcula como:
// runOptions*queueSize en este caso es 6x12=72
docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 6"
}

executor {
  name = 'local'
  queueSize = 12
}
