// Workflow    : Cuantificación y análisis de expresión diferencial de datos RNA-seq
// Institución : Instituto Nacional de Medicina Genómica (INMEGEN)
// Maintainer  : Subdirección de genómica poblacional y subdirección de bioinformática (INMEGEN)
// Versión     : 1
// Docker image - pipelinesinmegen/pipelines_inmegen -

params{
// nombre y ruta del directorio de salida
outdir       = "/path/to/outdur"
project_name = "NAME"

// Rutas del indice de salmon
refdir  = "/path/to/salmon_index"
refname = "Homo_sapiens.GRCh38.cdna.all.fa"
gtfname = "Homo_sapiens.GRCh38.113.gtf"

// Ruta del indice de star
refdir_star  = "/scratch/home/dperez/ref/ref_QDEA/star_index"
refname_star = "Homo_sapiens.GRCh38.dna.primary_assembly.fa"

// Qualimap stranded: strand-specific-forward, strand-specific-reverse or non-strand-specific
QMstranded = "strand-specific-reverse"

// Salmon strand-specific read counting: IU (unstranded), ISR (stranded), OSR (reverse), A (automatic)
slib_type = "A"

// FeactureCounts strand-specific read counting. Acceptable values: 0 (unstranded), 1 (stranded) and 2 (reversely stranded). 0 by default.
ss = "-s 2"

// Archivos necesarios 
r_DEA       = 'bin/DEA.R'
rQ          ='bin/Q.R'
sample_info = 'sample_info.tsv'
metadata    = 'metadata.tsv'
mqc_config  = 'bin/multiqc_config.yaml'
genes_file  = 'bin/GeneIDs_ensembl113.tsv'
scriptdir   = "./bin"

// ¿Realizar análisis de expresición diferencial? (si esta opción es false sólo se optienen las matrices de cuentas )
multiple_lanes = true
QDEA           = true
ncrs           = 4

// Si QDEA = false, sólo definir los nombres de los archivos con las matrices de cuentas
mcounts     = 'cuentas.tsv'
mcounts_tpm = 'cuentas_tpm.tsv'

// Si QDEA = true, definir los siguientes parámetros:
// Condiciones a comparar en el análisis de expresión con DESeq2 (comparación: condition_1 vs condition_2)
DEAname     = "Nombre_comparacion"
condition_1 = "Condicion 1"
condition_2 = "Condicion 2"

// representa el numero de muestras de la condición con menor representación
nsamples = 3

// thresholds para definir los genes diferencialmente expresados
th_l2fc = 1
th_padj = 0.05

// nombres de las gráficas de salida 
pca_plot_name     ='PCA_mqc.png'
heatmap_name      = 'Correlacion_entre_muestras_mqc.png'
volcano_plot_name = 'volcano_plot.png'

// definir el nombre de los archivos de resultados, incluir en el nombre la comparación (condition_1 vs condition_2)
// resultados de deseq2 con las hipotesis predeterminadas (|Log2FC| >= 0 & padj < 0.1)
results_name = "DEG_DESeq2.tsv"

// resultados de deseq2 filtrados |Log2FC| >= 1 & padj < 0.05
deg_name = "DEG_DESeq2_filtrados.tsv"
}

// directorio de trabajo de next flow
params.out = params.outdir + '/out'
workDir    = params.outdir + '/nextflow_work_dir'

// Habilitar Docker container
// Verificar no exceder el número máximo de cores 
// El número máximo de cores que puede utilizar en simultaneo el flujo de trabajo se calcula como:
// runOptions*queueSize en este caso es 6x12=72
docker {
    enabled      = true
    temp         = 'auto'
    runOptions   = "--cpus 4"
    fixOwnership = true
}

executor {
  name      = 'local'
  queueSize = 4
}
