// Workflow    : Cuantificación y análisis de expresión diferencial de datos RNA-seq
// Institución : Instituto Nacional de Medicina Genómica (INMEGEN)
// Maintainer  : Subdirección de genómica poblacional y subdirección de bioinformática (INMEGEN)
// Versión     : 0.1 
// Docker image - pipelinesinmegen/pipelines_inmegen -

// nombre y ruta del directorio de salida
params.outdir = "/path/to/out/dir"
params.sample_info = './samples_info.tsv'
params.project_name = "Project_name"

// ruta del indice de kallisto
params.ref ='/path/to/kallisto/index/*_kallisto.idx'
params.refdir="/path/to/kallisto/index/dir"
params.refname="*_kallisto.idx"
params.gtfname="*_file.gtf.gz"
params.ncrs=4

// ¿Realizar análisis de expresición diferencial? (si esta opción es false sólo se optienen las matrices de cuentas )
params.QDEA = true

// si QDEA = true, definir los siguientes parámetros:
// condiciones a comparar en el DEA con DESeq2 (comparación: condition_1 vs condition_2)
params.condition_1 = "treated"
params.condition_2 = "control"

// thresholds para definir los genes diferencialmente expresados
params.th_l2fc = 1
params.th_padj = 0.05

// NO EDITAR estos parámetros
// archivos necesarios
params.rscript_DEA_dir ='./bin/DEA.R'
params.rscript_q_dir ='./bin/Q.R'

// si QDEA = false, sólo definir los nombres de los archivos con las matrices de cuentas
params.mcounts ='matriz_cuentas.tsv'
params.mcounts_tpm ='matriz_cuentas_tpm.tsv'

// nombres de las gráficas de salida 
params.pca_plot_name ='pca_plot.pdf'
params.heatmap_name = 'heatmap_rld.pdf'
params.volcano_plot_name ='volcano_plot.pdf'

// definir el nombre de los archivos de resultados, incluir en el nombre la comparación (condition_1 vs condition_2)
// estadísticos de deseq2 con las hipotesis predeterminadas (|Log2FC| >= 0 & padj < 0.1)
params.results_name = "estadisticos_treated_vs_control.tsv"

// resultados de deseq2 asumiendo que los genes DE son aquellos que cumplen con: |Log2FC| >= 1 & padj < 0.05 (ó FDR < 0.05)
params.deg_name ='resultados_treated_vs_control.tsv'

// directorio de trabajo de nextflow
params.out = params.outdir + '/out'
workDir = params.outdir + '/nextflow_work_dir'

// Condiciones a ejecutar, toma en cuenta las condiciones de tu servidor o cluster para modificar los parámetros
// "--cpus" Número máximo de núcleos asignados a cada proceso
// "queueSize" Número máximo de procesos ejecutados de manera simultánea
// Nota: por default el flujo de trabajo está limitado a 40 cores (--cpus * queueSize)

docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 4"
    fixOwnership = true
}

executor {
  name = 'local'
  queueSize = 10
}
