params{
// paths de los directorios a utilizar
reads="/path/to/fastq_files/*.read{1,2}.fastq.gz"

// nombre y ruta del directorio de salida
outdir = "/path/to/out/dir"

// ruta del indice de kallisto
ref ='/path/to/kallisto/index/*_kallisto.idx'
refdir="/path/to/kallisto/index/dir"
refname="*_kallisto.idx"
gtfname="*_file.gtf.gz"

// archivos necesarios 
rscript_DEA_dir ='./bin/DEA.R' 
rscript_q_dir ='./bin/Q.R'
csv_info = './samples_info.csv'

// ¿Realizar análisis de expresición diferencial? (si esta opción es false sólo se optienen las matrices de cuentas )
QDEA = true

// si QDEA = false, sólo definir los nombres de los archivos con las matrices de cuentas
mcounts ='mat_cuentas.csv'
mcounts_tpm ='mat_cuentas_tpm.csv'

// si QDEA = true, definir los siguientes parámetros:
// condiciones a comparar en el DEA con DESeq2 (comparación: condition_1 vs condition_2)
condition_1 = "treated"
condition_2 = "control"

// thresholds para definir los genes diferencialmente expresados
th_l2fc = 1
th_padj = 0.05

// nombres de las gráficas de salida 
pca_plot_name ='pca_plot.pdf'
heatmap_name = 'heatmap_rld.pdf'
volcano_plot_name ='volcano_plot.pdf'

// definir el nombre de los archivos de resultados, incluir en el nombre la comparación (condition_1 vs condition_2)
// resultados de deseq2 con las hipotesis predeterminadas (|Log2FC| >= 0 & padj < 0.1)
results_c_file ='res_c_treated_vs_control.csv'

// resultados de deseq2 asumiendo que los genes DE son aquellos que cumplen con: |Log2FC| >= 1 & padj < 0.05 (ó FDR < 0.05)
results_file_name ='res_treated_vs_control.csv'

// resultados de deseq2 filtrados |Log2FC| >= 1 & padj < 0.05
resultsf_file_name ='res_filt_treated_vs_control.csv'

// nombre del data set según la especie (forma org.X.eg.db) por ejem: para humano es org.Hs.eg.db y para ratón es org.Mm.eg.db
data_set = "org.Hs.eg.db" 

// Ontology = Which Gene Ontology domain to analyze: BP (Biological Process), MF (Molecular Function), or CC (Cellular Component)
onto_type = "BP"

// nombre del objeto de R con la lista de objetos necesarios para GeneTonic
list_gt = 'gne_tonic_list.rds'
}

// directorio de trabajo de next flow
params.out = params.outdir + '/out'
workDir = params.outdir + '/nextflow_work_dir'

// Habilitar Docker container
// Verificar no exceder el número máximo de cores 
// El número máximo de cores que puede utilizar en simultaneo el flujo de trabajo se calcula como:
// runOptions*queueSize en este caso es 6x12=72
docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 6"
}

executor {
  name = 'local'
  queueSize = 12
}

