// Workflow    : Control de calidad de archivos FASTQ
// Institución : Instituto Nacional de Medicina Genómica (INMEGEN)
// Maintainer  : Subdirección de genómica poblacional y subdifección de bioinformatica del INMEGEN
// Versión     : 0.1
// Docker image - pipelinesinmegen/pipelines_inmegen -

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/outdir"

// Ruta de los archivos con la información de los datos crudos
params.sample_info="./sample_info.tsv"
params.project_name = "Projet name"

// Parametros y rutas necesarios 
params.refdir='/path/to/Fastq/Screen_Genomes'
params.fastq_screen_config='./bin/fastq_screen.conf'
params.ncrs=4

// Directorios adicionales
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'
workDir = params.outdir + '/nextflow_work_dir'

// Condiciones a ejecutar, tomando en cuenta las condiciones de tu servidor o cluster modfica los parámetros 
// "--cpus" número máximo de núcleos asignados a cada proceso
// "queueSize" Número máximo de procesos ejecutados de manera simultánea
// Nota: por default el flujo de trabajo está limitado a 40 cores (--cpus * queueSize)

docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 4"
    fixOwnership = true
}

executor {
  name = 'local'
  queueSize = 10
}
