// Workflow    : Identificación de variantes de datos RNA-seq con GATK4
// Institución : Instituto Nacional de Medicina Genómica (INMEGEN)
// Maintainer  : Subdirección de genómica poblacional y subdirección de bioinformática del INMEGEN
// Versión     : 0.1

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/out/dir"

// Ruta de los archivos con la información de los datos crudos y el nombre del proyecto
params.sample_info="./sample_info.tsv"
params.project_name = "Nombre del proyecto"

// Por el momento la mejor opción es procesar las muestras con un sólo lane
params.multiple_samples = false

// Referencia, parámetros y rutas para el alineamiento  
params.refdir_star = "/path/to/star/reference/dir"
params.refname_star="fasta_file.fa"
params.ref_dir_bqsr="/path/to/reference/dir"

//  Número de núcleos para los procesos multicore (star, trim_galore)
params.ncrs=4

// Directorios por default (NO EDITAR)
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'
workDir = params.outdir + '/nextflow_work_dir'

// Condiciones a ejecutar, toma en cuenta las condiciones de tu servidor o cluster para modificar los parámetros
// "--cpus" Número máximo de núcleos asignados a cada proceso
// "queueSize" Número máximo de procesos ejecutados de manera simultánea
// Nota: por default el flujo de trabajo está limitado a 40 cores (--cpus * queueSize)

docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 4"
    fixOwnership = true
}

executor {
  name = 'local'
  queueSize = 10
}
