// Workflow    : Metagenómica -Amplicon 16S- 
// Institución : Instituto Nacional de Medicina Genómica (INMEGEN)
// Maintainer  : Subdirección de genómica poblacional y subdifección de bioinformática del INMEGEN
// Versión     : 0.1 
// Docker image - pipelinesinmegen/pipelines_inmegen -

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/nextflow/results/dir"

// Ruta de los archivos con la información de los datos crudos
params.sample_info="./sample_info.tsv"
params.data_dir="/path/to/data"
params.metadata="/path/to/file.metadata"
params.project_name = "Project_name"

// Scripts necesarios
params.mothur="/path/to/mothur" 
params.rdada2="./bin/dada2.R"
params.rplots="./bin/plots.R"
params.pyphylip="./bin/modify_phylip.py"
params.pykrona="./bin/mothur_krona_XML.py"

// Referencias 
params.ref="/path/to/ref/metagenomics"
params.ref_dada2 = params.ref + '/dada2'
params.ref_green = params.ref + '/greengenes'
params.ref_silva = params.ref + '/silva'

// Número de cores para mothur
params.ncrs=12

// Directorios adicionales
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'

// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Habilitar Conda
conda.enabled = true

// Condiciones a ejecutar, toma en cuenta las condiciones de tu servidor o cluster para modificar los parámetros
// "--cpus" Número máximo de núcleos asignados a cada proceso
// "queueSize" Número máximo de procesos ejecutados de manera simultánea
// Nota: por default el flujo de trabajo está limitado a 40 cores (--cpus * queueSize)

docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 4"
    fixOwnership = true
}

executor {
  name = 'local'
  queueSize = 10
}
