// Parámetros a definir

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/out/dir"

// Ruta de los archivos con la información de los datos crudos
params.sample_sheet="/path/to/sample_sheet_normales.tsv"
params.bams = "/path/to/normal/bam/files/dir/*.bam"
params.project_name = "Nombre del proyecto"

// Parametros y rutas para el alineamiento incluyendo la lista de intervalos
params.ref = "/path/to/reference/dir/reference_file.fasta"
params.refdir='/path/to/reference/dir'
params.refname="reference_file.fasta"
params.interval_list="/path/to/interval_list/file/file.interval_list"

// Este archivo debe de estar en la misma ruta que el archivo de referencia
params.onlygnomad="af-only-gnomad.hg38.vcf.gz  
params.ncrs=6

// Parametros mutect
params.pading=0
params.germline_sites=true

// Parámetros para genomics db
params.interval=true
params.batchsize=3
params.GI_cores=6

// Directorios adicionales
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'
params.snpeff_data = params.out + '/snpeff_data'

// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Habilitar Docker container
docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 20"
}

executor {
  name = 'local'
  queueSize = 12
}
