// Parámetros necesarios para correr el flujo de trabajo Indentificació conjunta de variantes con GATK4

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/scratch/home/dperez/resultados/002_hipertensos_longevos_ann"

// Ruta de los archivos con la información de los datos crudos
params.sample_info="./sample_info.tsv"
params.project_name = "hipertensos_longevos"
params.multiple_samples = true

// Parametros y rutas necesarios 
params.refdir='/STORAGE/references/Broad/hg38/'
params.refname="Homo_sapiens_assembly38.fasta"
params.ncrs=6

// directorios de la base de datos de annovar
params.annovar= "/scratch/home/dperez/programas/annovar/annovar"

// Directorios adicionales
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'

// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Habilitar Docker container
docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 6"
    fixOwnership = true
}

executor {
  name = 'local'
  queueSize = 10
}
