// Parámetros necesarios para correr el flujo de trabajo Indentificació conjunta de variantes con GATK4

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/out/dir"

// Ruta de los archivos con la información de los datos crudos
params.sample_sheet="/path/to/sample_sheet.tsv"
params.vcfs = "/path/to/vcfs/dir"
params.multiple_samples=true
params.project_name = "Nombre del proyecto"
params.ncrs=6

// directorios para la anotación de variantes
params.refdir='/path/to/reference/dir'
params.refname="reference_file.fasta"
params.annovar= "/path/to/annovar/dir"

// Directorios adicionales
params.out = params.outdir + '/out'
params.tmpdir = params.out + '/gatk_temp'

// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Habilitar Docker container

docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 7"
}

executor {
  name = 'local'
  queueSize = 12
}
