// Parámetros necesarios para correr el flujo de trabajo de anotación de variantes

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "/path/to/results/dir"

// Ruta de los archivos con la información de los datos crudos
params.sample_info = "./sample_info.tsv"
params.project_name = "project_id"
params.multiple_samples = false

// Parametros y rutas necesarios 
params.refdir = '/path/to/reference/'
params.refname = "reference.fasta"
params.ncrs = 4

// directorios de la base de datos de annovar
params.annovar = "/path/to/annovar/dir"

// Directorios adicionales
params.out = params.outdir + '/out'

// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Habilitar Docker container
docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 4"
    fixOwnership = true
}

executor {
  name = 'local'
  queueSize = 10
}
